
script(src="JS/jquery-3.6.0.js")
//script(src="JS/jquery-3.6.0.min.js")
//script(src="JS/jquery.nicescroll.min.js")
//script(src="JS/bootstrap5.min.js")
script(src="JS/bootstrap5.js")
script(src="JS/slick.min.js")
script(src="JS/wow.min.js")
script new WOW().init();
script(src="JS/main.js")
script(src="http://localhost:35729/livereload.js")
