// Start Header

//.header
  .overlay
    h1.upper Wellness Suppliments
    p.upper Wellness Suppliments
    button Explore Now

// End Header


// Start Header

.header
  .overlay
    .responsive
      .content(style='background-image:url("imges/Rectangle.png")')
        .container
          .row
            .col-md-6
            .col-md-6
              .txt
                h1.upper Wellness Suppliments
                p.upper Wellness Suppliments
                button Explore Now

      .content(style='background-image: url("https://cdn.shopify.com/s/files/1/0090/3836/4736/files/Halloween_Peek-a-boo_9_1512x.jpg?v=1620441688")')
        .container
          .row
            .col-md-6
              .txt
                h1.upper Wellness Suppliments
                p.upper Wellness Suppliments
                button Explore Now
            .col-md-6

// End Header
