

//$main-color: #3EB2CF;
//$main-color: #CC2D4D;
//$main-color: #54377a;
$main-color: #FC4445;
$red-color: #CC2D4D;
$sub-color: #34444C;
$other-color: #fff;
$gray-color: #7B838A;
$black-color: #000;

$float-right: right;
$float-left: left;



